button {
	position: absolute;
	top: 10px;
	right: 10px;
	height: 35px;
	length: 30px;
	background-color:Teal;
}

body {
	background-color: rgb(30,30,30);
	color: white;
	font-family: "Lucida Console", "Courier New", monospace;
	background-image: url("https://images.pexels.com/photos/924824/pexels-photo-924824.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
}

nav {
  background-color: Green;
  display: flex; 
}
nav ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  display: flex; 
}
nav li {
  flex: 1; 
}
nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block; 
  text-align: center; 
}
nav a:hover {
  color: red;
}
nav a.active {
  color: Yellow
}

table, th, td {
  border: 1px solid white;
}

img {
  border: 5px solid #555;
  background-color: black;
}

img:hover {
opacity: 50%
transition: opacity 1s;
}

.Main_Heading {
		font-family: Arial, Helvetica, sans-serif;
}

.Sub_Heading {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}




	
	
